.content-wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;    
}

.section-1 {
    display: flex;
    justify-content: space-between;
}

.boxes-and-texts {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes {
    display: flex;
    gap: 15px;
}

.info-image {
    height: 200px;
    width: auto;
    /* add border solid blue */
}

.quote-and-author {
    display: flex;
    flex-direction: column;
}

.author-wrapper {
    display: flex;
    justify-content: flex-end;
}